@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  color: hsl(300, 43%, 22%);
  background-color: hsl(0, 0%, 100%);
}

body {
  background: url(components/images/bg-pattern-top-mobile.svg),
    url(components/images/bg-pattern-bottom-desktop.svg) hsl(0, 0%, 100%);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#firstsec {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

#firstsec h1 {
  font-size: 50px;
  font-weight: 900;
  font-family: "League Spartan", sans-serif;
  color: hsl(300, 43%, 22%);
  margin-bottom: 20px;
}

#firstsec p {
  font-size: 15px;
  font-weight: 500;
  font-family: "League Spartan", sans-serif;
  color: hsl(303, 10%, 53%);
  line-height: 20px;
  margin-bottom: 10px;
}

.rate #star {
  height: 14px;
  width: 14px;
  margin: 5px;
}

.rate {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.rate #rate1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 35px 12px 25px;
  margin-left: 40px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: "League Spartan", sans-serif;
  background-color: hsla(315, 20%, 96%, 1);
}

.rate #rate2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 35px 12px 25px;
  margin-left: 88px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: "League Spartan", sans-serif;
  background-color: hsla(315, 20%, 96%, 1);
}

.rate #rate3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 70px 12px 25px;
  margin-left: 135px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: "League Spartan", sans-serif;
  background-color: hsla(315, 20%, 96%, 1);
}

.rate p {
  font-size: 15px;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  color: hsl(300, 43%, 22%);
  margin-left: 20px;
}

.reviews img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: center;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 22px;
  margin-bottom: 10px;
}

.reviews {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.reviews #box1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(300, 43%, 22%);
  padding: 30px;
  border-radius: 10px;
}

.reviews #box1 .box1inside {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.reviews #box2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(300, 43%, 22%);
  padding: 30px;
  border-radius: 10px;
}

.reviews #box2 .box2inside {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.reviews #box3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(300, 43%, 22%);
  padding: 30px;
  border-radius: 10px;
}

.reviews #box3 .box3inside {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.reviews h1 {
  font-size: 15px;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  color: hsl(0, 0%, 100%);
}

.reviews h2 {
  font-size: 15px;
  font-weight: 400;
  font-family: "League Spartan", sans-serif;
  color: hsl(333, 80%, 67%);
}

.reviews p {
  font-size: 15px;
  font-weight: 500;
  font-family: "League Spartan", sans-serif;
  color: hsl(300, 24%, 96%);
  line-height: 20px;
  margin-bottom: 15px;
}

.attribution {
  padding-top: 10px;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}

.attribution a {
  color: hsl(300, 43%, 22%);
}

a:link {
  text-decoration: none;
}

a:visited {
  color: hsl(300, 43%, 22%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}